__pycache__/
*.pyc
app/storage/artifacts/
app/storage/ht_content.db
*.log
*.aiff
*.mp3
*.mp4
.env
.DS_Store
script.md
scripts2.md
tools/
tools/wav2lip/checkpoints/*.pth
tools/wav2lip/face_detection/detection/sfd/*.pth
tools/wav2lip/results/
.env
